<div class="user miniprofile">
    <img class="user-miniprofile-picture" src="{{ asset(user.getPicturePath) }}" alt="Image de l'utilisateur">
    <h4 class="user-miniprofile-username">{{ user.getUsername }}</h4>
</div>